@*@model  PagedList.IPagedList<Model.EF.Product>*@

@*@using PagedList.Mvc;*@
@{
    ViewBag.Title = "Home Page";
    var listNewProducts = (List<Model.EF.Product>)ViewBag.NewProducts;
    var listFeatureProduct = (List<Model.EF.Product>)ViewBag.ListFeatureProduct;
    var listFeatureContent = (List<Model.EF.Content>)ViewBag.ListFeatureContent;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Document</title>


</head>
<body>
    <div class="content">
        @{Html.RenderAction("ProductCategory", "Product");}
    </div>
   
    <div class="container">

        <div class="title" style="display:flex;justify-content:space-between">
            <h2>Products</h2>
            <a style="line-height:80px" href="/Product/ShowAll">See all Products</a>
        </div>
        <div class="product-list">

            @foreach (var item in listNewProducts)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="products">

                    <a href="@url">
                        <img width="200" src="@item.Image" alt="" />
                    </a>
                    <div class="detail-products">
                        <h4>  @item.Name</h4>

                        <div class="card">
                            <button>Mua Ngay</button>
                            <button><a href="/them-gio-hang?productId=@item.ID&quantyli=1">Thêm vào giỏ</a></button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="title">
            <a style="font-size:28px" href="">Top Hot Products</a>
        </div>
        <div class="product-list">
          
            @foreach (var item in listFeatureProduct)
            {
                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                <div class="products">
                    <a href="@url"><img src="@item.Image" alt="" /></a>
                    <div class="detail-products">
                        <h4> @item.Name</h4>

                        <div class="card">
                            <button>Mua Ngay</button>
                            <button><a href="/them-gio-hang?productId=@item.ID&quantyli=1">Thêm vào giỏ</a></button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="title">
            <a style="font-size:28px" href="">Top Hot Content</a>
        </div>

        <div class="product-list">
          
            @foreach (var item in listFeatureContent)
            {
                var url = "/chi-tiet-content/" + item.MetaTitle + "-" + item.ID;
                <div class="products">
                    <a href="@url"><img src="@item.Image" alt="" /></a>
                    <h4>@item.Name</h4>
                    <p>@item.Description</p>
                </div>
            }

        </div>




    </div><br /><br />
    @*<div class="page text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.@SearchString }))
    </div>*@


</body>
</html>

