
<link href="~/Content/Page.css" rel="stylesheet" />
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img width="200px" src="https://theme.hstatic.net/1000306633/1000859591/14/logo.png?v=371" alt="" />

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav menu1">
                <li class="p-3 mb-2 bg-secondary text-white">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              
              
            </ul>
            <ul class="nav navbar-nav menu2">
                <li><a href=""><i class="fa-solid fa-cart-shopping-fast"></i>Gio Hang</a></li>
                <li>@Html.ActionLink("Sinup", "Index", "Login")</li>
                <li>@Html.ActionLink("Signin", "Index", "Login")</li>

            </ul>
        </div>



    </div>



</div>
</div>
<div class="banner">
    <a href=""><img width="100%" src="https://theme.hstatic.net/1000306633/1000891824/14/slideshow_3.jpg?v=37" alt="" /></a>
</div>
<br />
<br />