@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cart = (List<OnlineShop.Models.CartItem>)ViewBag.Cart;




}
@section jsFooter{
    <script src="/Asset/js/controller/Cartcontroller.js"></script>
    }
<table class="table">
    <thead>
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Ảnh SP</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Cart)
        {
            <tr>
                <td>@item.Product.ID</td>
                <td>@item.Product.Name</td>
                <td><img width="100px" src="@item.Product.Image" alt="" /></td>
                <td><input type="text" class="txtquantity" data-id="@item.Product.ID" value="@item.Quantyli" /></td>
                <td>@item.Product.Price.GetValueOrDefault(0).ToString("N0")</td>
                <td>@((item.Product.Price.GetValueOrDefault(0) * item.Quantyli).ToString("N0"))</td>
                <td><a href="#"data-id="@item.Product.ID" class="btn-delete" >Xóa</a></td>
            </tr>


        }



    </tbody>
</table>
<buttom id="btnContinue" class="btn alert-danger">Tiếp tục mua hàng</buttom>
<buttom id="btnUpdate" class="btn alert-danger">Cập nhật giỏ hàng</buttom>
<buttom id="btnDeleteAll" class="btn alert-danger">Xóa giỏ hàng</buttom>
<buttom id="btnPayment" class="btn alert-danger">Thanh toán</buttom>

